{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static "fonts/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/fontawesome5-overrides.min.css" %}">
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <style>
        #mapid {
            height: 420px;
        }

        #yourmap {
            height: 600px;
        }


        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            height: 560px;
            padding: 1.25rem
        }

        #data {
            height: 560px;
            width: 1050px !important;
        }


    </style>

    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript">
        function map_init_basic(map, options) {
            {% for e in object_list %}
                L.marker({{e}}).addTo(map);

            {% endfor %}

        }

        {#$(function () {#}
        {##}
        {#    var $populationChart = $("#data");#}
        {#    $.ajax({#}
        {#        url: $populationChart.data("url"),#}
        {#        success: function (data) {#}
        {##}
        {#            var ctx = $populationChart[0].getContext("2d");#}
        {##}
        {#            new Chart(ctx, {#}
        {#                type: 'line',#}
        {#                data: {#}
        {#                    labels: data.date,#}
        {#                    datasets: [{#}
        {#                        label: 'date',#}
        {#                        backgroundColor: 'blue',#}
        {#                        data: data.temp#}
        {#                    }]#}
        {#                },#}
        {#                options: {#}
        {#                    responsive: true,#}
        {#                    legend: {#}
        {#                        position: 'top',#}
        {#                    },#}
        {#                    title: {#}
        {#                        display: true,#}
        {#                        text: 'Date and temp'#}
        {#                    }#}
        {#                }#}
        {#            });#}
        {##}
        {#        }#}
        {#    });#}
        {##}
        //
    </script>

</head>
{% if user.is_authenticated %}
    <body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Task</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}"><i
                            class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "table" %}"><i
                            class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i
                            class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"><i
                            class="fas fa-user-circle"></i><span>Register</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button">
                            <i
                                    class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                                                                data-toggle="dropdown"
                                                                                aria-expanded="false"
                                                                                href="#"><i
                                    class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small"
                                                                        type="text" placeholder="Search for ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button"><i
                                                        class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                           data-toggle="dropdown" aria-expanded="false"
                                                                           href="#">
                                    {% if user.is_authenticated %}
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.username }}</span>
                                    {% else %}<span class="d-none d-lg-inline mr-2 text-gray-600 small">None</span>
                                    {% endif %}</a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a
                                            class="dropdown-item" href="{% url 'login' %}"><i
                                            class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;LogIn</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout' %}"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3></div>

                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Time series</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                            <canvas id="data" height="540"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src="{% static "js/leaflet.js" %}"
                                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                                crossorigin=""></script>
                        <div class="col-lg-5 col-xl-4">
                            <div id="mapid">
                                {% leaflet_map "yourmap" callback="window.map_init_basic" %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Команда А 2020</span></div>
                </div>
            </footer>
        </div>
    </div>
{% else %}
    <a class="nav-link" href="{% url 'login' %}"><i class="far fa-user-circle"></i><span>Login</span></a></li>
{% endif %}
{#<script src="{% static "js/lef.js" %}"></script>#}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/chart.min.js" %}"></script>
<script src="{% static "js/bs-init.js" %}"></script>
<script src="{% static "js/jquery.easing.js" %}"></script>
<script src="{% static "js/theme.js" %}"></script>
<script>


    let ctx = document.getElementById('data');
    $.ajax({
        url: "data/",
        success: function (data) {

            {#var ctx = $populationChart[0].getContext("2d");#}

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.date,
                    datasets: [{
                        label: 'Temperature',
                        data: data.temp,
                              fill: false
                    }]
                },
                options: {

                    responsive: false,
                    maintainAspectRatio: true,
                    legend: {
                        position: 'top',
                    },

                    title: {
                        display: true,
                        text: 'Date per temp'
                    }
                }
            });

        }
    });


</script>
</body>

</html>